<!DOCTYPE html>
<html>
  <head>
    <title>オタデジブログ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <%= render 'layouts/header' %>
  <body>
    <%= yield %>
  </body>
  <%= render 'layouts/footer' %>
</html>
